body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    background: rgb(24, 0, 36);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../image/BG-img.jpg);
    background-size: cover;
    overflow: hidden;
}

#card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-light {
    color: #171515;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: white;
}